.container{
    max-width: 1280px;
    margin: auto;
}
/*  nav Bar */

.navi{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.list1{
    display: flex;
    list-style: none;
    text-decoration: none;
    
    gap:10px
    
    
    
}
.a1{
    text-decoration: none;
}
.sp input{
    border-radius: 66px;
    padding: 15px 30px;
    width: 500px;
    border: none;
    background-color: rgb(241, 241, 241);
    color: #CCCCCC;
}
.l1{
    color: #707070;
}
.sp{
    position: relative;
}
.sp i{
    position: absolute;
    top: 17px;
    right: 30px;
    
}
/* bannar */
.bannar{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #FEEAE9;
padding: 20px;
border-radius: 10px;
margin-top: 63px;
}
.bannar img{
    width: 403px;
    height: 378px;
}
.bannar div h2{
    font-size: 56px;
    font-weight: bold;
    color: #1F1F1F;
}
.bannar div p{
    font-size: 16px;
    color: #4E4E4E;
}
.bannar div h3{
    font-size: 41px;
    color: #FF136F;
}
.bannar div a button{
    background-color:#FF589B;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 20px;


}
/* Catagories */
.cat{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 359px;
    padding: 20px;
    border-radius: 20px;

}
.items h3{
    font-size: 36;
    color: #FFFFFF;
}
.ch{
    font-size:36px ;
    font-weight: 900;
    color: #1F1F1F ;
    
}
.mc{
    margin-top: 100px;
}
/* Shoes */
.shoes{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
    
}
.shoes div img{
    width: 336px;
    height: 202px;

}
.shoes div{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding:25px;
    box-shadow: 2px 0px 8px 0px rgb(0 0 0 / 15%);
}
.shoes div h4{
    font-size: 24px;
    color: #1F1F1F;
}
.shoes div p{
    font-size:16px ;
    color: #4E4E4E;
}
.shoes div h3{
    font-size: 24px;
    color: #000000;
}
.shoes div a button{
    background-color:#000000 ;
    color: white;
    border-radius: 6px;
    padding: 15px 35px;
}
/* Fotter */
.sfoters{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #FFF2F1;
    width: 1212px;
    height: 455;
    padding: 50px;
    margin-top: 70px;
}

.fotter h3{
    font-size: 30px;
    color: #1F1F1F;
}
.fotter p{
    font-size: 16px;
    color: #707070;
}
.fotter input{
    border: none;
    padding: 15px 152px;
    text-align: center;
}